* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --deep-grey: rgb(48, 48, 48);
}

.main_banner_container {
  display: flex;
  width: 100%;
  min-width: 900px;
  height: 400px;
  background: linear-gradient(
    to bottom,
    rgb(77, 137, 210),
    rgb(77, 137, 210),
    rgb(67, 55, 205)
  );
  color: white;
  padding: 70px 70px 0 70px;
  justify-content: space-between;
}

.main_banner_comment {
  margin-top: 20px;
}

.main_banner_comment h1 {
  margin-bottom: 15px;
}

.main_banner_comment div {
  margin-bottom: 15px;
}

button {
  padding: 12px 35px;
  background-color: var(--deep-grey);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

.main_banner_iphone {
  overflow: hidden;
}

.main_banner_iphone img {
  width: 310px;
}

.show_portfolio {
  width: 100%;
  padding: 70px 0;
  text-align: center;
}

.show_portfolio h3 {
  color: var(--deep-grey);
  margin-bottom: 5px;
}

.show_portfolio div {
  font-size: 14px;
  font-weight: 300;
  color: var(--deep-grey);
  margin-bottom: 30px;
}

.mini_banner_container {
  position: absolute;
  top: 300px;
  left: 40px;
  width: 350px;
  background: linear-gradient(
    to bottom,
    rgb(77, 137, 210),
    rgb(77, 137, 210),
    rgb(67, 55, 205)
  );
  color: white;
  text-align: center;
  padding: 30px 30px 0 30px;
}

.mini_banner_comment h2 {
  margin-bottom: 15px;
}

.mini_banner_comment div {
  font-weight: 300;
  margin-bottom: 15px;
}

.mini_banner_iphone {
  overflow: hidden;
}

.mini_banner_iphone img {
  position: relative;
  top: 50px;
  width: 260px;
}

.service_container {
  background-color: rgb(77, 137, 210);
  text-align: center;
  color: white;
  padding: 70px 0;
}

.yellow-title {
  font-size: 10px;
  color: yellow;
  font-weight: 600;
}

.service_container h2 {
  margin-bottom: 20px;
}

.service_icon_container {
  margin: auto;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.service_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  background-color: white;
  margin-bottom: 10px;
  color: rgb(77, 137, 210);
}

.service_icon_small_text {
  margin-top: 5px;
  font-size: 10px;
  font-weight: 300;
}

.portfolio_container {
  text-align: center;
  padding: 100px 0 0 0;
}

.portfolio {
  text-align: left;
}

.portfolio_text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 300px;
  left: 100px;
}
