* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background_image {
  width: 100%;
  height: 800px;
  background-image: url(../img/yellowBackground.jpeg);
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background_image h1 {
  color: black;
  text-shadow: 0 0 20px white;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 80px;
  border-radius: 40px;
  margin-top: 30px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.44);
}

.test span {
  background: linear-gradient(to right, #7400a2, #d203d2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.test:active {
  transform: scale(0.98);
}

.explain_box {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 30px;
  background-color: gainsboro;
  position: relative;
  top: -40px;
}

.explain_box h2 {
  margin-bottom: 20px;
}

.explain_box p {
  font-size: 16px;
}
